@{
    ViewBag.Title = "Trang chủ";
}

<style>
    .card-text{
        font-weight:inherit;
 
    }
    .card-text:hover{
        cursor:pointer;
    }
</style>
<div class="row" id="RowTT">
    <h3>TIN TỨC NỔI NHẤT</h3>
    @for (int i = 0; i < @ViewBag.TinTuc_4NoiBat.Count; i++)
    {
        <a href="@Url.Action("Details", "TinTucs",new { id= @ViewBag.TinTuc_4NoiBat[i].IdTinTucs })">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="boxDiv">
                    <div class="warp-layout_item">
                        <p>@ViewBag.TinTuc_TenDM_4NoiBat[i]</p>

                        <div class="card" style="">

                            @if (@ViewBag.TinTuc_TenDM_4NoiBat[i].Equals("DỊCH VỤ"))
                            {
                                <img src="@ViewBag.TinTuc_4NoiBat[i].ImageDichVu" alt="" style="position:relative" />
                                <img src="~/images/unnamed.gif" style="position:absolute; top:1px; right:1px; height:40px; width:40px">
                            }
                            else if (@ViewBag.TinTuc_TenDM_4NoiBat[i].Equals("SẢN PHẨM"))
                            {
                                <img src="@ViewBag.TinTuc_4NoiBat[i].ImageSanPham" alt="" />
                                <img src="~/images/unnamed.gif" style="position:absolute; top:1px; right:1px; height:40px; width:40px">
                            }
                            else if (@ViewBag.TinTuc_TenDM_4NoiBat[i].Equals("VIỆC LÀM"))
                            {
                                <img src="@ViewBag.TinTuc_4NoiBat[i].ImageViecLam" alt="" />
                                <img src="~/images/unnamed.gif" style="position:absolute; top:1px; right:1px;  height:40px; width:40px">
                            }
                            else if (@ViewBag.TinTuc_TenDM_4NoiBat[i].Equals("BÂT ĐỘNG SẢN"))
                            {
                                <img src="@ViewBag.TinTuc_4NoiBat[i].ImageBatDongSan" alt="" />
                                <img src="~/images/unnamed.gif" style="position:absolute; top:1px; right:1px; height:40px; width:40px">
                            }




                            <div class="card-body">
                                <label class="card-text">@ViewBag.TinTuc_4NoiBat[i].Title</label>
                            </div>

                            <div class="form-group" style="display:inline-flex;">
                                @if (@ViewBag.TinTuc_TenDM_4NoiBat[i].Equals("DỊCH VỤ"))
                                {

                                    <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4NoiBat[i].PriceDichVu.ToString("#,##00.##")đ</p>
                                }
                                else if (@ViewBag.TinTuc_TenDM_4NoiBat[i].Equals("SẢN PHẨM"))
                                {
                                    <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4NoiBat[i].PriceSanPham.ToString("#,##00.##")đ</p>
                                }
                                else if (@ViewBag.TinTuc_TenDM_4NoiBat[i].Equals("VIỆC LÀM"))
                                {
                                    <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4NoiBat[i].Salary.ToString("#,##00.##")đ</p>
                                }
                                else if (@ViewBag.TinTuc_TenDM_4NoiBat[i].Equals("BÂT ĐỘNG SẢN"))
                                {
                                    <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4NoiBat[i].PriceBatDongSan.ToString("#,##00.##")đ</p>
                                }

                                <p class="" style="margin-right:10px; margin-left:0px"><i class="far fa-clock"></i> @ViewBag.TinTuc_4NoiBat[i].LuaChon</p>
                                <p><i class="fa fa-eye"></i> @ViewBag.TinTuc_4NoiBat[i].LuotXem</p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </a>

    }

</div>
<div class="btn_more"></div>


<div class="row" id="RowTT">
    <h3>TIN TỨC MỚI NHẤT</h3>
    @for (int i = 0; i < @ViewBag.TinTuc_4Lastest.Count; i++)
    {
        <a href="@Url.Action("Details", "TinTucs",new { id= @ViewBag.TinTuc_4Lastest[i].IdTinTucs })">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="boxDiv">
                    <div class="warp-layout_item">
                        <p>@ViewBag.TinTuc_TenDM_4Lastest[i]</p>

                        <div class="card" style="">

                            @if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("DỊCH VỤ"))
                            {
                                <img src="@ViewBag.TinTuc_4Lastest[i].ImageDichVu" alt="" style="position:relative" />
                                <img src="~/images/unnamed.gif" style="position:absolute; top:1px; right:1px; height:40px; width:40px">
                            }
                            else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("SẢN PHẨM"))
                            {
                                <img src="@ViewBag.TinTuc_4Lastest[i].ImageSanPham" alt="" />
                                <img src="~/images/unnamed.gif" style="position:absolute; top:1px; right:1px; height:40px; width:40px">
                            }
                            else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("VIỆC LÀM"))
                            {
                                <img src="@ViewBag.TinTuc_4Lastest[i].ImageViecLam" alt="" />
                                <img src="~/images/unnamed.gif" style="position:absolute; top:1px; right:1px;  height:40px; width:40px">
                            }
                            else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("BÂT ĐỘNG SẢN"))
                            {
                                <img src="@ViewBag.TinTuc_4Lastest[i].ImageBatDongSan" alt="" />
                                <img src="~/images/unnamed.gif" style="position:absolute; top:1px; right:1px; height:40px; width:40px">
                            }




                            <div class="card-body">
                                <label class="card-text">@ViewBag.TinTuc_4Lastest[i].Title</label>
                            </div>

                            <div class="form-group" style="display:inline-flex;">
                                @if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("DỊCH VỤ"))
                                {

                                    <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4Lastest[i].PriceDichVu.ToString("#,##00.##")đ</p>
                                }
                                else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("SẢN PHẨM"))
                                {
                                    <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4Lastest[i].PriceSanPham.ToString("#,##00.##")đ</p>
                                }
                                else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("VIỆC LÀM"))
                                {
                                    <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4Lastest[i].Salary.ToString("#,##00.##")đ</p>
                                }
                                else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("BÂT ĐỘNG SẢN"))
                                {
                                    <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4Lastest[i].PriceBatDongSan.ToString("#,##00.##")đ</p>
                                }

                                <p class="" style="margin-right:10px; margin-left:0px"><i class="far fa-clock"></i> @ViewBag.TinTuc_4Lastest[i].LuaChon</p>
                                <p><i class="fa fa-eye"></i> @ViewBag.TinTuc_4Lastest[i].LuotXem</p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </a>

    }

</div>
<div class="btn_more"></div>

<div class="row" style="height:100px;margin:5px 15px;">
    <div class="col-sm-6" style="height:100px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);padding:0px 0px">
        <a href="https://vivaweb.com.vn/web-khoi-nghiep">
            <img style="width: 100%;height:100%" src="https://cdn.qc24h.com/vivaweb/viva728.gif" alt="web giá rẻ">
        </a>
    </div>
    <div class="col-sm-6" style="height:100px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);padding:0px 0px">
        <a href="https://batdongsan.so">
            <img style="width: 100%; height: 100%" src="https://cdn.qc24h.com/bds321/bds-728.png" alt="batdongsan">
        </a>
    </div>
</div>

@*SẢN PHẨM*@


<div class="row" id="RowTT">
    <h3>TIN SẢN PHẨM MỚI NHẤT</h3>
    @foreach (var item in @ViewBag.TinSP_4Lastest)
    {
        <a href="@Url.Action("Details", "TinTucs",new { id= item.IdTinTucs })">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="boxDiv">
                    <div class="warp-layout_item">
                        <p>SẢN PHẨM</p>
                        <div class="card" style="">

                            <img src="@item.ImageSanPham" alt="" />

                            <div class="card-body">
                                <label class="card-text">@item.Title</label>

                            </div>

                            <div class="form-group" style="display:inline-flex;">
                                <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @item.PriceSanPham.ToString("#,##00.##")đ</p>
                                <p class="" style="margin-right:10px; margin-left:0px"><i class="far fa-clock"></i> @item.LuaChon</p>
                                <p><i class="fa fa-eye"></i> @item.LuotXem</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </a>
    }


</div>
<div class="btn_more"> <a href="@Url.Action("Index", "SanPhams")"><button class="btn btn-primary btn-sm">Xem thêm</button></a></div>


@*DỊCH VỤ*@

<div class="row" id="RowTT">
    <h3>TIN DỊCH VỤ MỚI NHẤT</h3>
    @foreach (var item in @ViewBag.TinDV_4Lastest)
    {
        <a href="@Url.Action("Details", "TinTucs",new { id= item.IdTinTucs })">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="boxDiv">
                    <div class="warp-layout_item">
                        <p>DỊCH VỤ</p>
                        <div class="card" style="">

                            <img src="@item.ImageDichVu" alt="" />

                            <div class="card-body">
                                <label class="card-text">@item.Title</label>

                            </div>

                            <div class="form-group" style="display:inline-flex;">
                                <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @item.PriceDichVu.ToString("#,##00.##")đ</p>
                                <p class="" style="margin-right:10px; margin-left:0px"><i class="far fa-clock"></i> @item.LuaChon</p>
                                <p><i class="fa fa-eye"></i> @item.LuotXem</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
</div>
<div class="btn_more"> <a href="@Url.Action("Index", "DichVus")"><button class="btn btn-primary btn-sm">Xem thêm</button></a></div>

<div class="row" style="height:100px;margin:5px 15px;">
    <div class="col-sm-12" style="height:100px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);padding:0px 0px">
        <a href="https://www.googleadservices.com/pagead/aclk?sa=L&amp;ai=CwYAiK3DFYcf0K5Wh9QPy-rjQD7HNpppnsba-sbYP2tkeEAEg9pvfe2DBBaABhrLVqSjIAQKpAh67TgyN88c9qAMByAPJBKoExAFP0OUQgzhgZYdEbhS8Qt8e_hT62JCryTa8Amgx_-HoqYcTCPSEvwlIYYSFh9hXb06tCknRK7OfGa_qD2xacKFa2inPdvqBZaC33wTegoVHp0kjQrTvArXvpcTa-10cEoqFCtIBVcnv6YsbtAZRfGFlJmZMQCelfPILnYbFqc_FF04I_UFEybOg5YKO6NpBHbUi5D1Mcg5ecwn9xSWc5FYPb0XZ07xeQgFuHsUlwKdeepJrFtNYHJZxikSesCLNZsQ4h6riwASnssnl8gOQBgGgBgKAB4bqpYkDiAcBkAcCqAeOzhuoB5PYG6gH7paxAqgH_p6xAqgH1ckbqAemvhuoB_PRG6gHltgbqAeqm7ECqAffn7EC2AcB0ggGCAAQAhgasQm-jjn5UXSGtIAKAZgLAcgLAbgMAdgTDdAVAYAXAQ&amp;ae=1&amp;num=1&amp;cid=CAMSeQClSFh3Ur8w6lixSMiTCnw2f1774bUtdSxOnU5B5jI8-_lDF7xn3js9DNHlY9ufr99z846J6-kPKBevJXBky3JJ2_WIG-BoGvjrEMiNS4xQCFf8d0d543iIvBzTy8Y6FVFKEoVH7_MqjAeMlPLSh7dR62yjGmRvfFo&amp;sig=AOD64_2Pd9HDa-wGTSNl1qTWUlMsaUD2Bg&amp;client=ca-pub-9207985095938422&amp;nb=17&amp;adurl=https://vnpay.vn/dat-ve-may-bay-ve-tau-giam-500k-042wb1u0dle%3Futm_source%3DGoogle_GDN%26utm_medium%3Ddatvemaybay%26utm_campaign%3DDat_ve_may_bay%26utm_id%3DCTKM%2BT12%26utm_term%3DVCB">
        <img  style="width: 100%; height: 100%" src="https://tpc.googlesyndication.com/simgad/15569143169311686567?sqp=4sqPyQQ7QjkqNxABHQAAtEIgASgBMAk4A0DwkwlYAWBfcAKAAQGIAQGdAQAAgD-oAQGwAYCt4gS4AV_FAS2ynT4&amp;rs=AOga4qm29YwXSuZTHP9r_IJN7820pNkjBw">
        </a>
    </div>
</div>

@*BẤT ĐỘNG SẢN*@


<div class="row" id="RowTT">
    <h3>TIN BẤT ĐỘNG SẢN MỚI NHẤT</h3>
    @foreach (var item in @ViewBag.TinBDS_4Lastest)
    {
        <a href="@Url.Action("Details", "TinTucs",new { id= item.IdTinTucs })">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="boxDiv">
                    <div class="warp-layout_item">
                        <p>BẤT ĐỘNG SẢN</p>
                        <div class="card" style="">

                            <img src="@item.ImageBatDongSan" alt="" />

                            <div class="card-body">
                                <label class="card-text">@item.Title</label>

                            </div>

                            <div class="form-group" style="display:inline-flex;">
                                <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @item.PriceBatDongSan.ToString("#,##00.##")đ</p>
                                <p class="" style="margin-right:10px; margin-left:0px"><i class="far fa-clock"></i> @item.LuaChon</p>
                                <p><i class="fa fa-eye"></i> @item.LuotXem</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }


</div>
<div class="btn_more"> <a href="@Url.Action("Index", "BatDongSans")"><button class="btn btn-primary btn-sm">Xem thêm</button></a></div>


@*VIỆC LÀM*@

<div class="row" id="RowTT">
    <h3>TIN VIỆC LÀM MỚI NHẤT</h3>
    @foreach (var item in @ViewBag.TinVL_4Lastest)
    {
        <a href="@Url.Action("Details", "TinTucs",new { id= item.IdTinTucs })">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="boxDiv">
                    <div class="warp-layout_item">
                        <p>VIỆC LÀM</p>
                        <div class="card" style="">

                            <img src="@item.ImageViecLam" alt="" />

                            <div class="card-body">
                                <label class="card-text">@item.Title</label>
                            </div>

                            <div class="form-group" style="display:inline-flex;">
                                <p class="Coins-index" style="margin-right:20px; margin-left:10px"><i class="fas fa-coins"></i> @item.Salary.ToString("#,##00.##")đ</p>
                                <p class="" style="margin-right:10px; margin-left:0px"><i class="far fa-clock"></i> @item.LuaChon</p>
                                <p><i class="fa fa-eye"></i> @item.LuotXem</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }


</div>
<div class="btn_more"> <a href="@Url.Action("Index", "ViecLams")"><button class="btn btn-primary btn-sm">Xem thêm</button></a></div>

