<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/style_admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link href="@Url.Content("~/Content/DetailsNewsSP.css")" rel="stylesheet" type="text/css" />
    
    <link href="https://maps/documentation/javascript/examples/default.css" rel="stylesheet" />

    <title>@ViewBag.Title - Web Rao Tin</title>
    <link rel="icon" href="https://www.logopik.com/wp-content/uploads/edd/2018/10/Letter-R-Logo-Vector.png"
          type="image/x-icon">
    <style>
        .inputSearch {
            outline: none;
            padding: 9px;
            border-radius: 5px !important;
            padding-left: 10px;
            border: 0.7px solid #808080;
            width: 56%;
        }
        @* Ngày 7/11 - Huybaoash*@
        .response1, .response2, .response3, .response0, .response4, .response5 {
            display: none;
        }


        @*Ngày 15/11 Huybaoash*@

        #carouselExampleControls {
            width: 30%;
            margin: auto;
        }

        #LuaChon {
            display: none;
        }

        #displayImg1 {
            margin-top: 30px;
        }

            #displayImg1 img {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                display: inline-block;
            }

        #displayImg2 {
            margin-top: 30px;
        }

            #displayImg2 img {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                display: inline-block;
            }

        #displayImg3 {
            margin-top: 30px;
        }

            #displayImg3 img {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                display: inline-block;
            }

        #displayImg4 {
            margin-top: 30px;
        }

            #displayImg4 img {
                height: 50px;
                width: 50px;
                margin-right: 15px;
                display: inline-block;
            }


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }



        /*---------------User Details---------------------------  */

        /*

        .bd {
            margin: 20px;
        }*/
        .main {
            padding: 15px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top:40px;
        }

            .main .topbar_ {
                overflow: hidden;
            }

                .main .topbar_ a {
                    float: right;
                    text-align: center;
                    padding: 20px 26px;
                    text-decoration: none;
                    font-size: 26px;
                }

                    .main .topbar_ a:hover {
                    }

        .row .sidebar {
            background-color: #d7d3d3;
            border: 1px solid lightgray;
            height: 480px;
            border-radius: 5px;
            margin-top: 5px;

        }

            .row .sidebar a {
                @* margin-left: 10px;
                *@ display: block;
                color: inherit;
                padding-bottom: 10px;
                font-size: 18px;
                text-decoration: none;
                text-align: center;
            }

        .edit-tt a:hover {
            color: cornflowerblue;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .content {
            @* background-color: rgb(255, 255, 255);
            *@ border: 1px solid lightgrey;
            margin-bottom: 20px;
            border-radius: 5px;
            padding-left: 25px;
            margin-top: 5px;
        }

        hr {
            margin-right: 20px;
        }

        .text-secondary {
            margin-top: 10px;
        }

        .card-body {
            margin-top: 10px;
        }

        .mt-3 h4 {
            margin-bottom: 20px;
            text-align: center;
            border-bottom: 1px solid white;
        }



        /*-------------------------------------*/
        .col {
            background-color: rgb(247, 129, 51);
            border: 1px solid none;
            margin: 0px 20px;
            height: 200px;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            transition: opacity 0.6s ease;
            color: black;
            border-radius: 5px;
            box-shadow: 10px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
            width: 100%;
            background-size: 250px 200px;
            background-repeat: no-repeat;
        }

        .img-dv {
            background-image: url("/images/Get-Leads-and-Sales-with-Animated-Explainer-Video-Ads-on-Facebook-Featured-Image.jpg");
        }

        .img-vl {
            background-image: url("/images/tong-hop-cac-cach-cai-thien-ky-nang-noi-chuyen.png");
        }

        .img-bds {
            background-image: url("/images/thutucmuabannha01.jpg");
        }

        .img-sp {
            background-image: url("/images/quy-trinh-ban-hang-truc-tiep.jpg");
        }

        .rowbtn-create {
            text-align: center;
            display: flex;
        }

        .col:hover {
            background-color: rgb(248, 155, 94);
            opacity: 0.8;
        }

        /*-------------------------------------*/


        a {
            text-decoration: none
        }

        .small-container {
            display: none;
        }

        @*==========================================*@ body {
            @* // background-color: #f8f8f8;
            // margin: 0;
            // padding: 0;
            *@ font-family: Arial;

        }
        .menu {
            max-height: 60px;
            background-color: rgb(161, 14, 8);
            @* text-align: center;
            *@ margin: 2px 0px 5px 0px;
            display: flex;
            justify-content: space-around;
        }

            .menu ul {
                margin-bottom: 10px;
                display: flex;
            }

            .menu li {
                padding: 20px 15px;
                list-style-type: none;
            }

                .menu li a {
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                    cursor: pointer;
                }

                .menu li:hover a {
                    color: rgb(202, 209, 209);
                }

        .header {
            background-color: white;
            min-height: 80px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap-reverse;
        }



        .header_item {
            list-style: none;
            margin-left: 20px;
            margin-right: 50px;
            display: inline-block;
        }


        .btn-DT {
            text-decoration: none;
            display: inline-block;
            outline: none;
            border: none;
            color: #fff;
            padding: 10px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: opacity 0.2s ease;
            box-shadow: 2px 3px 3px gray;
        }

        .btn--warn {
            background-color:#d62500;
        }

        .btn-DT:hover {
            opacity: 0.8;
        }

        .cardn {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .header_item h3 {
            cursor: pointer;
        }


        .row h3 {
            text-align: left;
            margin-left: 10px;
         @*   border-bottom: 1px solid lightgray;*@
            width: 98%;
        }

        #RowTT {
            margin: auto;
        }

        .boxDiv {
            background-color: none;
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 5px 5px 0px 5px;
            color: black;
            margin-bottom: 5px;
            text-align: left;
            border-radius: 4px;
            height: 368px;
            box-shadow: 0px 2px 0px 2px #f3f3f3;
        }

            .boxDiv img {
                height: 200px;
            }
            .boxDiv:hover {
                margin-top: -10px;
                transition: all 0.4s ease;
            }
            .btn_more {
                margin-bottom: 20px;
                padding-left: 93.5%;
                margin-top: 2px;
                @* border-bottom: 1px solid #de1c1c;*@
            }

        .row h3 {
            text-align: left;
        }

        .card-body label {
            margin-bottom: 15px;
        }

        .card .form-group .Coins-index {
            color: #ff6a00;
        }

        #loginLink, #registerLink {
            color: inherit;
        }

        @* .footer {
            background-color: rgba(0, 0, 0, 0.2);
            margin-top: 25%;
        }

        *@
        @* .container {
            margin-bottom: 150px;
        }

        *@
        .heard-list .header_item h3 a {
            color: #ff6a00;
            font-weight: 900;
            text-decoration: none;
        }

        .col-lg-3 {
            padding-left: 4px;
            padding-right: 4px;
        }
        /* create tin tuc*/
        #Create:hover {
        }

        @*css của nút ẩn hiện file trong hồ sơ CV*@ #CV {
            border-radius: 3px;
        }

        .ND-CV {
            margin: 10px auto;
            width: 80%;
            @*border: 1px solid #e4e4e4;
            *@
        }

        @*css drop-down menu*@ @*--------------------------------------Banner------------------------*@
        .main-container {
            top: 0;
            left: 0;
            width: 1500px;
            height: 100%;
            padding: 0;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-content: flex-start;
            margin-bottom: 20px;
        }

        .right-container {
            position: fixed;
            right: 5px;
        @*    bottom: 0;*@
            min-width: 90px;
            background-color: purple;
            height: 500px;
            margin-left: 10px;
        }

        .left-container {
            position: fixed;
            left: 5px;
         @*   bottom: 0;*@
            min-width: 90px;
            background-color: blue;
            height: 500px;
            margin-right: 10px;
        }

        .content-container {
            top: 0;
            background: rgb(250, 250, 250);
            width: 1150px;
            height: auto;
            max-width: 80%;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: Arial;
        }

        header {
            position: fixed;
            background: #22242A;
            width: 100%;
            height: 60px;
            z-index: 20000;
        }

        .left_area h3 {
            color: #fff;
            margin: 0;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 900;
            padding-left: 20px;
        }

        .left_area span {
            color: #1DC4E7;
        }

        .logout_btn {
            padding: 5px;
            background: #19B3D3;
            text-decoration: none;
            float: right;
            margin-top: -30px;
            margin-right: 40px;
            border-radius: 2px;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            transition-property: backgroud;
        }

            .logout_btn:hover {
                background: #0D9DBB;
            }

        .sidebar1 {
            background: #2F323A;
            margin-top: 60px;
            padding-top: 30px;
            position: fixed;
            left: 0;
            width: 250px;
            height: 100%;
            transition: 0.5s;
            transition-property: left;
        }

            .sidebar1 .profile_image {
                width: 100px;
                height: 100px;
                border-radius: 100px;
                margin-bottom: 10px;
            }

            .sidebar1 h4 {
                color: #ccc;
                margin-top: 0;
                margin-bottom: 20px;
            }

            .sidebar1 a {
                color: #fff;
                display: block;
                width: 100%;
                line-height: 60px;
                padding-left: 30px;
                font-size: 16px;
                box-sizing: border-box;
                text-decoration: none;
            }

                .sidebar1 a:hover {
                    background: #19B3D3;
                    text-decoration: none;
                }

            .sidebar1 i {
                padding-right: 10px;
            }

        label #sidebar_btn {
            z-index: 1;
            color: #fff;
            position: fixed;
            cursor: pointer;
            left: 300px;
            font-size: 20px;
            margin: 5px 0;
        }

            label #sidebar_btn:hover {
                color: #19B3D3;
            }

        #check:checked ~ .sidebar1 {
            left: -190px;
        }

            #check:checked ~ .sidebar1 a span {
                display: none;
            }

            #check:checked ~ .sidebar1 a {
                font-size: 20px;
                margin-left: 170px;
                width: 80px;
            }

        .contentAd23 {
            margin-left: 250px;
            background-size: cover;
            transition: 0.5s;
        }

        #check:checked ~ .contentAd23 {
            margin-left: 60px;
        }

        #menu {
            margin-left: 100px;
            margin-bottom: 2px;
            margin-right: 150px;
            margin-top: 80px;
        }

        .menu-list {
            padding: 2px 2px 2px 2px;
            margin: auto;
        }

        .menu-item {
            color: rgb(224, 220, 220);
            padding: 0px 8px 0px 0px;
            display: inline-flex;
            border-right: 1px solid rgb(224, 220, 220);
        }

            .menu-item a {
                color: #585252;
                text-decoration: none;
            }

                .menu-item a:hover {
                    color: #ff9d40;
                }


    </style>
</head>
<body>
    <input type="checkbox" name="" value="" id="check" hidden>
    <!-- fdsfdsfds  -->
    <header>
        <label for="check">
            <i class="fas fa-exchange-alt" id="sidebar_btn"></i>
        </label>
        <div class="left_area">
            <h3>Quan<span> Tri Vien</span></h3>
        </div>
        <div class="right_area">
            <a href="@Url.Action("Index", "Home",new { area = "" })" class="logout_btn" style="text-decoration:none">Thoát >></a>
        </div>
    </header>
    <!-- ahhihihih -->
    <div class="sidebar1">
        <center>
            <img src="/images/admin.png" class="profile_image" alt="">
            <h4>
                @User.Identity.Name
            </h4>
        </center>


        <a href="@Url.Action("Index", "TinTucs")"><i class="fas fa-th-list"></i><span>Quản lý tin tức</span></a>
        <a href="@Url.Action("Index", "Users")"><i class="fas fa-user-cog"></i><span>Quản lý người dùng</span></a>
        <a href="@Url.Action("Chart", "TinTucs")"><i class="fas fa-chart-bar"></i><span>Thống kê</span></a>

        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()


            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i><span>Đăng xuất</span> </a>

        }

    </div>
    <div class="contentAd23">
        <div class="container body-content"> @RenderBody()</div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @* Thêm 2 dòng script bên duouis này *@
    @RenderSection("scripts", required: false)
</body>
</html>