@model IEnumerable<WebRaoTin.Models.LoaiDichVu>

@{
    ViewBag.Title = "Danh sách";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .menu-list {
        font-size: 18px;
    }

    #menu {
        margin-left: 0;
        margin-right: 0;
    }

    th {
        background-color: #a0d1f6;
    }

    tr:hover {
        background-color: #eeeeee;
    }
</style>
<div id="menu">
    <ul class="menu-list">
        <li class="menu-item">
            <a href="@Url.Action("Index", "TinTucs")">Tin tức</a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index", "LoaiSanPhams")">Loại sản phẩm</a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index", "LoaiDichVus")">Loại dịch vụ</a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index", "LoaiViecLams")">Loại việc làm</a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index", "LoaiBatDongSans")">Loại bất động sản</a>
        </li>
        <li class="menu-item">
            <a href="@Url.Action("Chart", "TinTucs")">Thống kê</a>
        </li>
    </ul>
</div>

<div style="margin:10px 0px;font-size:18px">
    <i class="fas fa-plus" style="color:blue"></i>  @Html.ActionLink("Thêm loại dịch vụ", "Create")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-xs" }) |

                @if (item.Status.Equals("Công khai"))
                {
                    @Html.ActionLink("Ẩn", "Hide", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                }
                else
                {
                    @Html.ActionLink("Công khai", "Show", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                }
            </td>
        </tr>
    }

</table>
