@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row" id="RowTT">
    <h3>TIN TỨC MỚI NHẤT</h3>
    @for (int i = 0; i < @ViewBag.TinTuc_4Lastest.Count; i++)
    {
        <a href="@Url.Action("Details", "TinTucs",new { id= @ViewBag.TinTuc_4Lastest[i].IdTinTucs })">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="boxDiv">
                    <div class="warp-layout_item">


                        <p>@ViewBag.TinTuc_TenDM_4Lastest[i]</p>
                        <div class="card" style="">

                            @if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("DỊCH VỤ"))
                            {
                                <img src="@ViewBag.TinTuc_4Lastest[i].ImageDichVu" alt="" style="width:230px; height:200px;" />
                            }
                            else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("SẢN PHẨM"))
                            {
                                <img src="@ViewBag.TinTuc_4Lastest[i].ImageSanPham" alt="" style="width:230px; height:200px;" />
                            }
                            else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("VIỆC LÀM"))
                            {
                                <img src="@ViewBag.TinTuc_4Lastest[i].ImageViecLam" alt="" style="width:230px; height:200px;" />
                            }
                            else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("BÂT ĐỘNG SẢN"))
                            {
                                <img src="@ViewBag.TinTuc_4Lastest[i].ImageBatDongSan" alt="" style="width:230px; height:200px;" />
                            }


                            <div class="card-body">
                                <label class="card-text">@ViewBag.TinTuc_4Lastest[i].Title</label>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                @if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("DỊCH VỤ"))
                                {
                                    <p class="col-md-6"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4Lastest[i].PriceDichVu</p>
                                }
                                else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("SẢN PHẨM"))
                                {
                                    <p class="col-md-6"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4Lastest[i].PriceSanPham</p>
                                }
                                else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("VIỆC LÀM"))
                                {
                                    <p class="col-md-6"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4Lastest[i].Salary</p>
                                }
                                else if (@ViewBag.TinTuc_TenDM_4Lastest[i].Equals("BÂT ĐỘNG SẢN"))
                                {
                                    <p class="col-md-6"><i class="fas fa-coins"></i> @ViewBag.TinTuc_4Lastest[i].PriceBatDongSan</p>
                                }

                                <p class="col-md-6"><i class="far fa-clock"></i> @ViewBag.TinTuc_4Lastest[i].LuaChon</p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </a>
        
    }

</div>
<div class="btn_more"> <h5 class="btn btn-primary">XEM THEM</h5></div>


@*SẢN PHẨM*@


<div class="row" id="RowTT">
    <h3>TIN SẢN PHẨM MỚI NHẤT</h3>
    @foreach (var item in @ViewBag.TinSP_4Lastest)
    {
        <a href="@Url.Action("Details", "TinTucs",new { id= item.IdTinTucs })">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="boxDiv">
                    <div class="warp-layout_item">
                        <p>SẢN PHẨM</p>
                        <div class="card" style="">

                            <img src="@item.ImageSanPham" alt="" style="width:230px; height:200px;" />

                            <div class="card-body">
                                <label class="card-text">@item.Title</label>

                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <p class="col-md-6"><i class="fas fa-coins"></i> @item.PriceSanPham</p>
                                <p class="col-md-6"><i class="far fa-clock"></i> @item.LuaChon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
            }


    </div>
<div class="btn_more"> <h5 class="btn btn-primary">XEM THEM</h5></div>


@*DỊCH VỤ*@

<div class="row" id="RowTT">
    <h3>TIN DỊCH VỤ MỚI NHẤT</h3>
    @foreach (var item in @ViewBag.TinDV_4Lastest)
    {
        <a href="@Url.Action("Details", "TinTucs",new { id= item.IdTinTucs })">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="boxDiv">
                    <div class="warp-layout_item">
                        <p>DỊCH VỤ</p>
                        <div class="card" style="">

                            <img src="@item.ImageDichVu" alt="" style="width:230px; height:200px;" />

                            <div class="card-body">
                                <label class="card-text">@item.Title</label>

                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <p class="col-md-6"><i class="fas fa-coins"></i> @item.PriceDichVu</p>
                                <p class="col-md-6"><i class="far fa-clock"></i> @item.LuaChon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
            }


    </div>
<div class="btn_more"> <h5 class="btn btn-primary">XEM THEM</h5></div>


@*BẤT ĐỘNG SẢN*@


<div class="row" id="RowTT">
    <h3>TIN BẤT ĐỘNG SẢN MỚI NHẤT</h3>
    @foreach (var item in @ViewBag.TinBDS_4Lastest)
    {
        <a href="@Url.Action("Details", "TinTucs",new { id= item.IdTinTucs })">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="boxDiv">
                    <div class="warp-layout_item">
                        <p>BẤT ĐỘNG SẢN</p>
                        <div class="card" style="">

                            <img src="@item.ImageBatDongSan" alt="" style="width:230px; height:200px;" />

                            <div class="card-body">
                                <label class="card-text">@item.Title</label>

                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <p class="col-md-6"><i class="fas fa-coins"></i> @item.PriceBatDongSan</p>
                                <p class="col-md-6"><i class="far fa-clock"></i> @item.LuaChon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
            }


    </div>
<div class="btn_more"> <h5 class="btn btn-primary">XEM THEM</h5></div>


@*VIỆC LÀM*@

<div class="row" id="RowTT">
    <h3>TIN VIỆC LÀM MỚI NHẤT</h3>
    @foreach (var item in @ViewBag.TinVL_4Lastest)
    {
        <a href="@Url.Action("Details", "TinTucs",new { id= item.IdTinTucs })">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="boxDiv">
                    <div class="warp-layout_item">
                        <p>VIỆC LÀM</p>
                        <div class="card" style="">

                            <img src="@item.ImageViecLam" alt="" style="width:230px; height:200px;" />

                            <div class="card-body">
                                <label class="card-text">@item.Title</label>

                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <p class="col-md-6"><i class="fas fa-coins"></i> @item.Salary</p>
                                <p class="col-md-6"><i class="far fa-clock"></i> @item.LuaChon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
            }


    </div>
<div class="btn_more"> <h5 class="btn btn-primary">XEM THEM</h5></div>
