@model WebRaoTin.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<style>
    .form-horizontal {
        width: 50%;
        margin: auto;
    }

    h2 {
        font-family: Arial;
    }
</style>
@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Đổi mật khẩu người dùng</h2>
    <hr />
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    <div class="form-group">
        @* @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            <label for="OldPassword">Mật khẩu hiện tại</label>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @* @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            <label for="OldPassword">Mật khẩu mới</label>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @*  @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            <label for="OldPassword">Xác nhận lại mật khẩu</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-success" id="changepwd" name="changepwd">Lưu</button>
        </div>
    </div>
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>  @*Phải thêm link này vào mới có thông báo đẹp đc sử dụng swal *@
<script>
  
    $("#changepwd").click(function () {
        var a = '';
        if ($("#OldPassword").val() == '') {
            a=a+ '?';

        }
        if ($("#NewPassword").val() == '') {
            a = a + '?';

        }
        if ($("#ConfirmPassword").val() == '') {
            a = a + '?';

        }
        if (a == '') swal("Thay đổi mặt khẩu thành công!", "You clicked the button!", "success");
        else swal("Bạn nhập thiếu!", "You clicked the button!", "warning", {
            buttons: ["Cancel!", true],
        });
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}