
@using Microsoft.AspNet.Identity
@using WebRaoTin.Models
<style>
    /*Chat Box*/
    {
        box-sizing: border-box;

    }

    .boxDiv {
        height: auto;
    }

        .boxDiv:hover {
            margin-top: 0 !important;
        }
        .boxDiv p {
            font-size:12px;
            margin-bottom:0 !important;
        }
    /* Nút Để Mở Chatbox */
     .nut-mo-chatbox {
        background-color: rgb(161, 14, 8);
        color: white;
        padding: 10px 0px;
        border: none;
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 40px;
        width: 100px;
        border-radius: 100px;
        box-shadow: 0px 1px 4px 4px #a7a7a7;
    }
        .nut-mo-chatbox:hover {
            background-color: #e55a5a;
        }
    /* Ẩn chatbox mặc định */
    .Chatbox {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        z-index: 9;
        width:300px;


    }
    /* Thêm style cho form */
    #containermsg {
        max-width: 300px;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid #f1f1f1;
        box-shadow: 0px 1px 10px 3px #a7a7a7;
        position: relative;

    }
        /* thiết lập style textarea */
        #containermsg textarea {
            width: 100%;
           padding: 10px;
            margin: 5px 0 5px 0;
            border: none;
            background-color: #ddd;
            resize: none;
            min-height: 30px;
            border-radius:5px;
        }
            /*thiết lập style cho textarea khi được focus */
            #containermsg textarea:focus {
                background-color: #ddd;
                outline: none;
            }
        /* Thiết lập style cho nút trong form*/
        #containermsg .btn {
          @*  background-color: #4CAF50;*@
            color: white;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }
        /* Thiết lập màu nền cho nút đóng chatbox */
        #containermsg .nut-dong-chatbox {
            background-color: white;
            color:red;
            width: 50px;
            position:absolute;
            top:0;
            right:0;
            padding: 0px !important;
        }
    .nut-dong-chatbox i{
        font-size:40px;
    }
    /* Thêm hiệu ứng hover cho nút, HÔM BỮA M CHỈNH THIẾU NO ADSSSSSSS chổ nào có r mà*/
    #containermsg .btn:hover, .nut-mo-chatbox:hover {
        opacity: 1;
    }
    .fa-comment-dots{
       font-size:40px;
    }
    #contentMsg li {
        list-style-type: none;

    }
    #contentMsg {
        height: 250px;
        border: 1px solid #ddd;
        border-radius: 5px;
        word-wrap: break-word;
        overflow: auto;
        background-color:#f0f0f0;
        padding:10px;
    }
    h1 {
        font-weight: bolder;
        color:#ff7f24;
    }
</style>

<button class="nut-mo-chatbox" onclick="moForm()"><i class="fas fa-comment-dots"></i></button>
<div class="Chatbox" id="myForm">
    <form action="" class="form-container" id="containermsg">
        <button type="button" class="btn nut-dong-chatbox" onclick="dongForm()"><i class="fas fa-times"></i></button>
        <h1>Thông báo</h1>
        <div id="contentMsg">
            @if (ViewBag.dsTB == null)
            {
                ApplicationDbContext db = new ApplicationDbContext();
                var dsTB_temp = db.ThongBaos;
                var dsTB = dsTB_temp.OrderByDescending(p => p.PublishDay).ToList();
                foreach (var item in dsTB)
                {
                    if (item.CustomerID.Equals(User.Identity.GetUserId()))
                    {   
                        <div class="boxDiv">
                            <li><a href="@item.Link"><strong>@Html.Raw(Html.Encode(@item.Description).Replace("\n", "<br />"))</strong></a></li>
                            <p>@item.PublishDay</p>
                        </div>
                        
                    }

                }
            }

        </div>
        <input type="hidden" id="hName" style="display:none" value="@User.Identity.Name" />
@*        <input type="text" id="txtName" placeholder="Nhập tên" style="display:none" value="@User.Identity.Name" />
        <textarea placeholder="Bạn hãy nhập lời nhắn.." name="txtMessage" id="txtMessage" required></textarea>
        <button class="btn btn-primary" id="btnSend" style="font-size:25px">Gửi</button>*@

    </form>
</div>


@section scripts
{
    <script>
        // sau khi login thành công sẽ gọi cái này
        
        $(function () {


            var chatHub = $.connection.chat;
            loadClient(chatHub);
            //khởi chạy connect hub
            $.connection.hub.start().done(function () {


                $('#btnSend').click(function () {
                    var msg = $('#txtMessage').val();
                    var name = $('#hName').val();
                    chatHub.server.message(name, msg);
                    $('#txtMessage').val('').focus();
                });
            });

        });

        // load các ham bên phía client
        function loadClient(chatHub) {

            chatHub.client.message = function (name, msg) {
                $('#contentMsg').append("<li><a><strong>" + name + "</strong>: " + msg + "</a></li>");
            }
            chatHub.client.connect = function (name) {
                $('#hName').val(name);
            }
        }

        function moForm() {
            document.getElementById("myForm").style.display = "block";
        }
        /*Hàm Đóng Form*/
        function dongForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
}

