@model WebRaoTin.Models.PhieuXetUngTuyen
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using GleamTech.AspNet.Mvc
@using GleamTech.DocumentUltimate
@using GleamTech.DocumentUltimate.AspNet
@using GleamTech.DocumentUltimate.AspNet.UI

@{
    var documentViewer = new DocumentViewer
    {
        Width = 1280,
        Height = 960,
        Document = @ViewBag.fileSavePath
    };
}

@if (User.Identity.IsAuthenticated)
{
    if (User.Identity.GetUserId().Equals(@Model.CustomerID) || (User.Identity.GetUserId().Equals(@ViewBag.NguoiDangID)))
    {
        <h2>Xem chi tiết hồ sơ</h2>
        <hr />
        <div style="
        border-left:1px solid #e4e4e4;
                ">
            @* <h4>PhieuXetUngTuyen</h4>*@

            <dl class="dl-horizontal">
                <dt>
                    @*@Html.DisplayNameFor(model => model.Customer.FullName)*@
                    <p style="font-size:18px">Tên người gửi:</p>
                </dt>

                <dd>
                    <p style="font-size:18px">  @Html.DisplayFor(model => model.Customer.FullName) </p>
                </dd>
                <hr style="margin-left:10px" />
                <dt>
                    @*    @Html.DisplayNameFor(model => model.PublishDay)*@
                    <p style="font-size:18px">Tiêu đề tin tức:</p>
                </dt>

                <dd>
                    <p style="font-size:18px"> @Html.DisplayFor(model => model.ViecLam.TinTuc.Title) </p>
                </dd>
                <hr style="margin-left:10px" />

                <dt>
                    @*    @Html.DisplayNameFor(model => model.PublishDay)*@
                    <p style="font-size:18px">Thời gian gửi lên:</p>
                </dt>

                <dd>
                    <p style="font-size:18px"> @Html.DisplayFor(model => model.PublishDay) </p>
                </dd>
                <hr style="margin-left:10px" />
                @* <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>*@


                <dt>
                    @* @Html.DisplayNameFor(model => model.Description)*@
                    <p style="font-size:18px">Nội dung:</p>
                </dt>

                <dd>
                    <button class="btn btn-primary btn-xs" id="showCV" onclick="showOnclick()" style="font-size:18px">Hiện</button>
                    <button class="btn btn-primary btn-xs" id="hideCV" onclick="hideOnclick()" style="display:none;font-size:18px">Ẩn</button>
                </dd>

                <div id="CV" style="display:none;border:1px solid #c0b5b5">

                    @this.RenderHead(documentViewer)
                    @this.RenderBody(documentViewer)

                </div>
            </dl>
        </div>
        @*<p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>*@

    }
    else
    {
        <h1>TRANG NÀY KHÔNG TỒN TẠI</h1>
    }
}
else
{
    <h1>TRANG NÀY KHÔNG TỒN TẠI</h1>
}






<script>


    function showOnclick() {
        $("#showCV").hide();
        $("#hideCV").show();
        $("#CV").show();

    }

    function hideOnclick() {
        $("#showCV").show();
        $("#hideCV").hide();
        $("#CV").hide();
    }

</script>