@model IEnumerable<WebRaoTin.Models.PhieuXetUngTuyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách các hồ sơ gửi lên</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            File
        </th>
        <th></th>
    </tr>
    <b
@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PublishDay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        <a href="@Url.Action("DownloadFile", "PhieuXetUngTuyens", new { fileName =item.Description,TinTucId = item.ViecLam.TinTucId })"><i class="fas fa-file-download"></i> Tải về</a>
    </td>
        <td>
      @*  @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
        @Html.ActionLink("Xem trước", "Details", new { id = item.Id },new { @class = "btn btn-primary btn-xs" })
   @*     @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
    </td>
</tr>
}

</table>
<a class="btn-warning"></a>