@model WebRaoTin.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<style>
    .links button {
        height: 100%;
        width: 100%;
        font-size: 20px;
        box-sizing: border-box;
        padding: 2px;
        font-weight:bolder;
    }
    #Google {
        color: white;
        background-color: #e03c31;
        transition: opacity 0.2s ease;
    }
        #Google:hover {
            @*  background-color:white;*@
            @* color:white;*@
            @*    border:1px solid red;*@
            opacity: 0.8;
        }
    #Facebook {
        color: white;
        background-color: #3b5998!important;
        transition: opacity 0.2s ease;
    }
        #Facebook:hover {
         @*   background-color: white;*@
          @*  color: white;*@
          @*  border: 1px solid blue;*@
          opacity:0.8;
        }

</style>


@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()


            foreach (AuthenticationDescription p in loginProviders)
            {
                if (p.Caption.Equals("Facebook"))
                {
                    <div class="links">
                        <button class="btn btn-default" type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"> <i class="fab fa-facebook-f"></i> @p.AuthenticationType</button>
                    </div>
                }
                else
                {
                    <div class="links">
                        <button class="btn btn-default" type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"> <i class="fab fa-google-plus-square"></i> @p.AuthenticationType</button>
                    </div>
                }

            }


        }


    }
}
