@using WebRaoTin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
}
<style>
    label {
        font-weight: normal;
    }

    .Nameform {
        text-align: center;
        @* margin: 40px 0px;*@
        font-size: 40px;
        font-weight: bold;
        background-color: #d62500;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        color: white;
    }

    .containerLG {
        width: 400px;
        margin: auto;
        border: 1px solid rgb(201, 199, 199); 
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }
    .button-LG {
        width: 40%;
        margin: 0px auto;
        margin-top: 4px;
        height: 40px;
    }

        .button-LG button {
            width: 100%;
            font-size: 18px;
        }

    .input-field input {
        height: 40px;
        font-size: 16px;
    }
    .input-field{
        margin:0px 25px;
        padding:10px 0px 5px 0px;
    }
    .input-field label {
        font-size: 22px;
    }

    .Remember-lg {
        margin: 10px 25px;
        font-size: 16px;
    }

        .Remember-lg a {
            margin-right: 50px;
            margin-left: 15px;
        }

        .Remember-lg input {
            margin-left: 50px;
        }

    .auth {
        text-align: center;
        margin-top: 60px;
    }

        .auth h4 {
            color: rgb(139, 138, 138);
        }

    .links {
        margin-bottom: 50px;
       @* border: 1px solid lightgray;*@
       @* text-align: center;*@
        width: 60%;
        margin: 15px auto;
        border-radius: 4px;
    }

    .signup {
        text-align: center;
        margin: 30px 0px 40px 0px;
        font-size: 16px;
    }

    .links a {
        font-size: 20px;
        text-decoration: none;
        color: red;
    }

    .input-field ul{
        padding-left:0px;
        list-style:none;
    }
   
       span {
        color: red;
        padding:0;
        float:none;
    }
    
</style>


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
   
    <div class="containerLG">
        <header class="Nameform">ĐĂNG NHẬP</header>
        <form>
            <div class="input-field">
                @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "margin-left:0px" })
                <label for="Email">Tên đăng nhập</label>
                
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="input-field">
                <label for="pwd">Mật khẩu</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password",Type = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="Remember-lg">
                @Html.ActionLink("Quên mật khẩu?", "ForgotPassword")
                @Html.CheckBoxFor(m => m.RememberMe)
                <label for="RememberMe" id="RememberMe">Ghi nhớ</label>
            </div>


            <div class="button-LG">
                <div class="inner"></div>
                <button class="btn btn-primary" type="submit">Đăng nhập</button>
            </div>

        </form>

        <div class="auth">
            <h4>Đăng nhập với</h4>
        </div>

        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    @*    <div class="links">
            <a href=""> <i class="fab fa-facebook-square"></i> Facebook</a>
        </div>

        <div class="links">
            <a href="">  <i class="fab fa-twitter"></i> Twitter</a>
        </div>*@


        <div class="signup">
            Không phải thành viên? @Html.ActionLink("Đăng ký ngay", "Register")
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}