@model WebRaoTin.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<style>
    h2{
        font-family:Arial;
       @* font-weight:bold;*@
    }
    .form-horizontal{
        width:50%;
        margin:auto;
        padding-left:30px;
    }
</style>
@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Tạo lại mật khẩu.</h2>
    <hr />
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @*   @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            <label for="Email">Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @*  @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            <label for="Password">Mật khẩu</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @* @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            <label for="ConfirmPassword">Xác nhận mật khẩu</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-success" id="reset" name="reset">Làm mới</button>
        </div>
    </div>
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>  @*Phải thêm link này vào mới có thông báo đẹp đc sử dụng swal *@
<script>
    $("#reset").click(function () {
        var a = '';
        
        if ($('#Email').val() == '') {
            a = a + 'Tên ko dc trống\n'

        }

        if ($('#Password').val() == '') {
            a = a + 'Tên ko dc trống\n'

        }

        var matkhau_xacnhanmk = false;

        if ($('#Password').val() == $('#ConfirmPassword').val()) {
            matkhau_xacnhanmk = true;
        }

        if (a == '') {
            if ($('#Email').val().endsWith('.com')) {
                if (matkhau_xacnhanmk == true) {
                    swal("Làm mới mật khẩu thành công!", "", "success");
                }
                else {


                    swal("Mật khẩu không trùng khớp với mật khẩu xác nhận !", "", "warning", {
                        buttons: [null, true],
                    });
                    
                }
            }
            else {

                if ($('#Email').val().endsWith('.com.vn')) {
                    if (matkhau_xacnhanmk == true) {
                        swal("Làm mới mật khẩu thành công!", "", "success");
                    }
                    else {


                        swal("Mật khẩu không trùng khớp với mật khẩu xác nhận !", "", "warning", {
                            buttons: [null, true],
                        });
                        
                    }
                }
                else {
                    swal("Bạn nhập sai định dạng Email !", "", "warning", {
                        buttons: [null, true],
                    });
                    
                }

            }

        }
        else {
            swal("Bạn nhập thiếu!", "", "warning", {
                buttons: [null, true],
            });
            return;
        }  

    })
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
