@using Microsoft.AspNet.Identity
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebRaoTin.Models.ApplicationUser>

@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>    Danh sách tài khoản</h2>
<style>
    #incon {
        font-size: 20px;
    }

    tr th {
        background-color: #a0d1f6;
    }

    tr:hover {
        background-color: #eeeeee;
    }
</style>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@using (Html.BeginForm("Index", "Users", FormMethod.Get))
{
    <p style="margin-top:10px;display:inline-flex">

        <input type="text" name="searchString" value="@ViewBag.Keyword" class="form-control" style="width:500px;margin-right:5px" placeholder="Tìm kiếm theo tên người dùng" />
        <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @* @Html.DisplayNameFor(model => model.UserName)*@
            <label>Tên người dùng</label>
        </th>


        <th>
            <label>Giới tính</label>
        </th>

        <th>
            <label>Email</label>
        </th>

        <th>
            @*  @Html.DisplayNameFor(model => model.PhoneNumber)*@
            <label>Số điện thoại</label>
        </th>

        <th>
            <label>Chức vụ</label>
        </th>
        <th>
            <label>Trạng thái</label>
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (User.Identity.GetUserId().Equals(item.Id))
                {
                    <a href="@Url.Action("Details", "Users", new { id = item.Id })">@Html.DisplayFor(modelItem => item.UserName)</a><h> (Bạn)</h>
                }
                else
                {
                    <a href="@Url.Action("Details","Users",new { id = item.Id })">@Html.DisplayFor(modelItem => item.UserName)</a>
                }


            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @if (item.Role.Equals("Người dùng"))
                {
                    @Html.DisplayFor(modelItem => item.Role)
                    <a href="@Url.Action("Edit_UpRole","Users",new { id = item.Id })"><i class="fas fa-long-arrow-alt-up" title="Nâng quyền" id="incon"></i></a>

                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Role)
                    <a href="@Url.Action("Edit_DownRole","Users",new { id = item.Id })"><i class="fas fa-long-arrow-alt-down" title="Giáng quyền" id="incon"></i></a>
                }
            </td>
            <td>
                @if (item.Status.Equals("Hoạt động"))
                {
                    @Html.DisplayFor(modelItem => item.Status)
                    if (User.Identity.GetUserId().Equals(item.Id))
                    {
                        <a href="@Url.Action("LockUser","Users",new { id = item.Id })" id="StatusWorkingMe"><i class="fas  fa-unlock" title="Khóa tài khoản" id="StatusWorkingMe"></i></a>
                    }
                    else
                    {
                        <a href="@Url.Action("LockUser","Users",new { id = item.Id })" id="StatusWorking"><i class="fas fa-unlock" title="Khóa tài khoản" id="StatusWorking"></i></a>
                    }



                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Status)
                    <a href="@Url.Action("UnlockUser","Users",new { id = item.Id })" id="StatusBanned"><i class="fas fa-lock" title="Mở khóa tài khoản" id="StatusBanned"></i></a>
                }


            </td>

        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new
{
page,
searchString = ViewBag.Keyword
}),
PagedListRenderOptions.PageNumbersOnly)

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>


    $("#StatusWorking").click(function () {

        alert("Đã khóa tài khoản!");

        swal("", {
            icon: "success",
        });


    });

    $("#StatusWorkingMe").click(function () {

        alert("Không thể khóa tài khoản của bản thân !");

        swal("", {
            icon: "success",
        });


    });

    $("#StatusBanned").click(function () {
        alert("Đã mở khóa tài khoản!");
        swal("", {
            icon: "success",
        });

    });
</script>
