@model WebRaoTin.Models.ApplicationUser
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="main">
        <div class="topbar_">
            <dd>
                @if (Model.Id.Equals(User.Identity.GetUserId()))
                {
                    if (Model.PasswordHash != null)
                    {
                        <a href="@Url.Action("ChangePassword", "Manage",new {area = ""})"> Đổi mật khẩu</a>


                    }
                    else
                    {
                        @Html.ActionLink("Tạo mật khẩu", "SetPassword")
                    }
                }


            </dd>
        </div>
        <div class="row">
            <div class="col-md-4 mt-1">
                <div class="card text-center sidebar">
                    <div class="card-body ">
                        <img src="~/images/Userlogo.png" alt="" class="" width="150">
                        <div class="mt-3">
                            <h4>@Html.DisplayFor(model => model.UserName)</h4>

                            <a href="">Ngày gia nhập: @Model.DateJoin.Value.ToString("dd/MM/yyyy")</a>
                            <a href="">Số tin đã đăng: @ViewBag.SLTT</a>
                            @if (Model.Id.Equals(User.Identity.GetUserId()))
                            {
                                <div class="edit-tt"> <a href="@Url.Action("Edit", "Users", new { id = @Model.Id })"><i class="far fa-edit"></i> Chỉnh sửa thông tin</a></div>

                                if (Model.EmailConfirmed)
                                {<div class="edit-tt"><a href=""><i class="fas fa-user-check" style="color:#145500"></i> Đã xác thực tài khoản</a></div> }
                                else
                                {
                                    <div class="edit-tt"><a href=""><i class="fas fa-angle-right"></i> Chưa xác thực tài khoản</a></div>
                                }
                            }

                            @*<a href="">Setting</a>
                                <a href="">Signout</a>*@
                        </div>
                    </div>
                </div>
                <div class="card mb-3 content">
                    <h1 class="m-3">Thông tin khác</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <h4 style="font-weight:bold">Lịch sử bình luận</h4>
                            </div>
                            <div class="col-md-5 text-secondary">
                                <a href="@Url.Action("CMT_ofUser", "BinhLuans", new { id = Model.Id })"> Xem thêm</a> <br />

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-7">
                                <h4 style="font-weight:bold">Lịch sử đăng tin</h4>
                            </div>
                            <div class="col-md-5 text-secondary">
                                <a href="@Url.Action("Index_ofUser", "TinTucs", new { page = 1, searchString = "",id = Model.Id })"> Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8 mt-1">
                <div class="card mb-3 content">
                    <h1 class="m-3 pt-3"> Thông tin chi tiết</h1>
                    <div class="card-body">
                        @if (Model.Id.Equals(User.Identity.GetUserId()))
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight:bold">Họ Tên</h4>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    @Html.DisplayFor(model => model.FullName)
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight:bold">Số điện thoại</h4>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    @Html.DisplayFor(model => model.PhoneNumber)
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight:bold">Giới tính</h4>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    @Html.DisplayFor(model => model.Gender)
                                </div>
                            </div>
                            <hr>


                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight:bold">Ngày sinh</h4>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    @Html.DisplayFor(model => model.DateBorn)
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight:bold">Trạng thái</h4>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    @Html.DisplayFor(model => model.Status)
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight:bold">Email</h4>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    @Html.DisplayFor(model => model.Email)
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight:bold">CMND</h4>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    @Html.DisplayFor(model => model.CMND)
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight:bold">Địa chỉ</h4>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    @Html.DisplayFor(model => model.HomeAdress)
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight:bold">Họ Tên</h4>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    @Html.DisplayFor(model => model.FullName)
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight:bold">Email</h4>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    @Html.DisplayFor(model => model.Email)
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h4 style="font-weight:bold">Số điện thoại</h4>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    @Html.DisplayFor(model => model.PhoneNumber)
                                </div>
                            </div>
                        }



                    </div>
                </div>
                @* <div class="card mb-3 content">
                        <h1 class="m-3">Thông tin khác</h1>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 style="font-weight:bold">Lịch sử bình luận</h4>
                                </div>
                                <div class="col-md-6 text-secondary">
                                    <a href="@Url.Action("CMT_ofUser", "BinhLuans", new { id = Model.Id })"> Xem thêm</a> <br />

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4 style="font-weight:bold">Lịch sử đăng tin</h4>
                                </div>
                                <div class="col-md-6 text-secondary">
                                    <a href="@Url.Action("Index_ofUser", "TinTucs", new { page = 1, searchString = "",id = Model.Id })"> Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>