@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="margin-top: 15px;margin-right:50px;margin-bottom:14px">
            <li>
                <a style="color:#2a2626 ;font-size:16px" class="fas fa-user-circle" href="@Url.Action("Details", "Users",new { id=User.Identity.GetUserId() })"> @User.Identity.GetUserName()</a>
            </li>
            <li><a style="color:#2a2626;font-weight:600;" href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="margin-top: 15px;margin-right:50px;font-weight:bold;font-size:16px;margin-bottom:14px">
        <li>@Html.ActionLink(" Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class= "fas fa-user-circle" } )</li>
        <li>@Html.ActionLink(" Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "fas fa-user-plus" })</li>

    </ul>
}