@model IEnumerable<WebRaoTin.Models.LoaiViecLam>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="menu">
    <ul class="menu-list">
        <li class="menu-item">
            <a href="@Url.Action("Index", "TinTucs")">Tin tức</a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index", "LoaiSanPhams")">Loại sản phẩm</a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index", "LoaiDichVus")">Loại dịch vụ</a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index", "LoaiViecLams")">Loại việc làm</a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("Index", "LoaiBatDongSans")">Loại bất động sản</a>
        </li>
    </ul>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
