
@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .menu-list {
        font-size: 18px;
    }

    #menu {
        margin-left: 0;
        margin-right: 0;
    }

    th {
        background-color: #a0d1f6;
    }

    tr:hover {
        background-color: #eeeeee;
    }
</style>

<style>
    table {
        border-collapse: inherit;
    }

    .menu-item {
        font-size: 18px;
    }

    #menu {
        margin-left: 0;
        margin-right: 0;
    }

    th {
        background-color: #a0d1f6;
    }

    tr:hover {
        background-color: #eeeeee;
    }
</style>

<div id="menu">
    <ul class="menu-list">
        <li class="menu-item">
            <a href="@Url.Action("Chart", "TinTucs")">Tổng Quan</a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("ChartMonth", "TinTucs")">Tháng</a>
        </li>

        <li class="menu-item">
            <a href="@Url.Action("ChartViewer", "TinTucs")">Lượt xem</a>
        </li>
    </ul>
</div>
<hr />

<h1>THỐNG KÊ TIN TỨC</h1><br />

<script>
window.onload = function () {

    var bieudoTT = new CanvasJS.Chart("bieudoLoaiTT", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Biểu đồ tỉ lệ số tin tức trong các loại tin tức",
		fontSize: 21
        },
	data: [{
		type: "pie",
		startAngle: 160,
		toolTipContent: "<b>{label}</b>: {y}%",
		indexLabel: "{label} - {y}%",
		dataPoints: @Html.Raw(ViewBag.bieudoLoaiTT)
	}]
});
    bieudoTT.render();

    var bieudoSP = new CanvasJS.Chart("bieudoLoaiTTSP", {
	animationEnabled: true,
	theme: "light2", // "light1", "dark1", "dark2"
	exportEnabled: true,
	title: {
        text: "Biểu đồ thống kê số lượng tin tức loại sản phẩm từng danh mục"

	},
	data: [{
		type: "column",
		dataPoints:  @Html.Raw(ViewBag.bieudoTTLoaiSP)
	}]
});
	bieudoSP.render();

	var bieudoDV = new CanvasJS.Chart("bieudoLoaiTTDV", {
	animationEnabled: true,
	theme: "light2", // "light1", "dark1", "dark2"
	exportEnabled: true,
	title: {
		text: "Biểu đồ thống kê số lượng tin tức loại dịch vụ từng danh mục"
	},
	data: [{
		type: "column",
		dataPoints:  @Html.Raw(ViewBag.bieudoTTLoaiDV)
	}]
});
    bieudoDV.render();

	var bieudoBDS = new CanvasJS.Chart("bieudoLoaiTTBDS", {
	animationEnabled: true,
	theme: "light2", // "light1", "dark1", "dark2"
	exportEnabled: true,
	title: {
		text: "Biểu đồ thống kê số lượng tin tức loại bất động sản từng danh mục"
	},
	data: [{
		type: "column",
		dataPoints:  @Html.Raw(ViewBag.bieudoTTLoaiBDS)
	}]
});
	bieudoBDS.render();

	var bieudoVL = new CanvasJS.Chart("bieudoLoaiTTVL", {
	animationEnabled: true,
	theme: "light2", // "light1", "dark1", "dark2"
	exportEnabled: true,
	title: {
		text: "Biểu đồ thống kê số lượng tin tức loại việc làm từng danh mục"
	},
	data: [{
		type: "column",
		dataPoints:  @Html.Raw(ViewBag.bieudoTTLoaiVL)
	}]
});
    bieudoVL.render();
}
</script>
<div id="bieudoLoaiTT" style="height: 370px; width: 100%;"></div>
<div>

    <h4><strong>Tin sản phẩm : </strong> @ViewBag.SoLuongTinSP</h4>
    <h4><strong>Tin dịch vụ : </strong> @ViewBag.SoLuongTinDV</h4>
    <h4><strong>Tin bất động sản : </strong> @ViewBag.SoLuongTinBDS</h4>
    <h4><strong>Tin việc làm : </strong> @ViewBag.SoLuongTinVL</h4>
    <h4><strong>Tổng tin tức : </strong> @ViewBag.SoLuongTinTuc</h4>
    <h4><strong>Nhận xét:</strong></h4>
    <h4>- @ViewBag.ReviewTTMaxTongQuat</h4>
    <h4>- @ViewBag.ReviewTTMinTongQuat</h4>
    <h4>- @ViewBag.ReviewKhoangCach</h4>

</div>
<br />
<hr />
<div id="bieudoLoaiTTSP" style="height: 370px; width: 100%;">
</div>
<div>
    <h4><strong>Nhận xét:</strong></h4>
    <h4>- @ViewBag.ReviewLSPMost</h4>
    <h4>- @ViewBag.ReviewLSP2Most</h4>
    <h4>- @ViewBag.ReviewLSP3Most</h4>
    <h4>- @ViewBag.ReviewLSPFewest</h4>

</div>
<br />
<hr />
<div id="bieudoLoaiTTDV" style="height: 370px; width: 100%;"></div>
<div>
    <h4><strong>Nhận xét:</strong></h4>
    <h4> @ViewBag.ReviewLDVMost</h4>
    <h4> @ViewBag.ReviewLDV2Most</h4>
    <h4> @ViewBag.ReviewLDV3Most</h4>
    <h4> @ViewBag.ReviewLDVFewest</h4>
</div>
<br />
<hr />
<div id="bieudoLoaiTTBDS" style="height: 370px; width: 100%;"></div>
<div>
    <h4><strong>Nhận xét:</strong></h4>
    <h4>- @ViewBag.ReviewLBDSMost</h4>
    <h4>- @ViewBag.ReviewLBDS2Most</h4>
    <h4>- @ViewBag.ReviewLBDS3Most</h4>
    <h4>- @ViewBag.ReviewLBDSFewest</h4>
</div>
<br />
<hr />
<div id="bieudoLoaiTTVL" style="height: 370px; width: 100%;"></div>
<div>
    <h4><strong>Nhận xét:</strong></h4>
    <h4>- @ViewBag.ReviewLVLMost</h4>
    <h4>- @ViewBag.ReviewLVL2Most</h4>
    <h4>- @ViewBag.ReviewLVL3Most</h4>
    <h4>- @ViewBag.ReviewLVLFewest</h4>
</div>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>



