@model WebRaoTin.ViewModel.TinTucsViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*
    Nếu tin tức được chọn là 1 sản phẩm. Thì LuaChon của nó = "1";
    Nếu tin tức được chọn là 1 dịch vụ. Thì LuaChon của nó = "2";
    Nếu tin tức được chọn là 1 bất động sản. Thì LuaChon của nó = "3";
    Nếu tin tức được chọn là 1 việc làm. Thì LuaChon của nó = "4";


*@

 @* san phẩm *@
<h2>Details</h2>

@if (Model.LuaChon.Equals("1"))
{

    <div class="small-container1 single-product">
        <div class="row_Detail">
            <div class="TheLoai">Thể loại > Sản phẩm > @Model.TenLoaiSanPham</div>

            <div class="Khung-img" style="width: 55%;background-color:  #f5ebeb; margin: 5px auto;">




                <div class="img">
                    <img src="@ViewBag.HinhAnh[0]" width="100%" height="500px" id="ProductImg">

                </div>
                <div class="small-img-row">
                    @for (int i = 0; i < @ViewBag.HinhAnh.Count; i++)
                    {
                        <div class="small-img-col">
                            <img src="@ViewBag.HinhAnh[i]" class="small-img">
                        </div>

                    }

                </div>
            </div>


            <hr style=" margin: 0px 10px; background-color: black;">

            <div class="col-2_">
                <p>Mã Tin: @Model.IdTinTucs</p>
                <p class="Update">Ngày đăng: @Model.PublishDayTinTucs</p>
                <h1>@Model.Title</h1>

                <div class="row-inf">
                    <div class="col-addr">
                        <div class="infor" style="display:flex;">
                            <p style="padding-right: 30px"><i class="fas fa-user-circle"></i> @Model.CustomerName </p>
                            <a href="@Url.Action("Details","Users", new {id = @Model.CustomerID })">Xem trang</a>
                        </div>

                        <div class="infor"><p><i class="fas fa-phone-square-alt"></i> @Model.ContractPhoneNumber</p></div>
                    </div>

                    <div class="col-addr">
                        <div class="infor"> <p><i class="fas fa-envelope-square"></i> @Model.CustomerEmail </p> </div>
                        <div class="infor"><p> <i class="fas fa-map-marker-alt"></i> @Model.LocationSanPham</p></div>
                    </div>
                </div>


                <h4>Nôi Dung</h4>
                <div style="border: 1px solid rgba(220, 220, 221, 0.918); padding: 20px;">
                    <p>
                        @Html.Raw(Html.Encode(Model.DescriptionSanPham).Replace("\n", "<br />"))
                    </p>
                </div>
                <hr>

                <div class="inf-more" style="margin-top: 10px; ">
                    <h6>Thông tin san pham</h6>
                    <div style="padding-left: 10px; line-height: 0.8rem;">
                        <p>Giá: @Model.PriceSanPham.ToString("#,##00.##")đ </p>
                    </div>
                    <br>
                    <h6>Thông tin liên lạc</h6>
                    <div style="padding-left: 10px; line-height: 0.8rem;">
                        <p>Liên hệ: @Model.Contract </p>
                         
                    </div>
                </div>
            </div>

        </div>
        <hr>



    </div>



    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdTinTucs }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


}

@*
    Dịch vụ
*@

@if (Model.LuaChon.Equals("2"))
{

    <div class="small-container1 single-product">
        <div class="row_Detail">
            <div class="TheLoai">Thể loại > Dịch vụ > @Model.TenLoaiDichVu</div>

            <div class="Khung-img" style="width: 55%;background-color:  #f5ebeb; margin: 5px auto;">




                <div class="img">
                    <img src="@ViewBag.HinhAnh[0]" width="100%" height="500px" id="ProductImg">

                </div>
                <div class="small-img-rowDV">
                    @for (int i = 0; i < @ViewBag.HinhAnh.Count; i++)
                    {
                        <div class="small-img-colDV">
                            <img src="@ViewBag.HinhAnh[i]" class="small-img">
                        </div>

                    }

                </div>
            </div>


            <hr style=" margin: 0px 10px; background-color: black;">

            <div class="col-2_">
                <p>Mã Tin: @Model.IdTinTucs</p>
                <p class="Update">Ngày đăng: @Model.PublishDayTinTucs</p>
                <h1>@Model.Title</h1>

                <div class="row-inf">
                    <div class="col-addr">
                        <div class="infor" style="display:flex;">
                            <p style="padding-right: 30px"><i class="fas fa-user-circle"></i> @Model.CustomerName </p>
                            <a href="@Url.Action("Details","Users", new {id = @Model.CustomerID })">Xem trang</a>
                        </div>

                        <div class="infor"><p><i class="fas fa-phone-square-alt"></i> @Model.ContractPhoneNumber</p></div>
                    </div>


                    <div class="col-addr">
                        <div class="infor"> <p><i class="fas fa-envelope-square"></i> @Model.CustomerEmail </p> </div>
                        <div class="infor"><p> <i class="fas fa-map-marker-alt"></i> @Model.LocationDichVu</p></div>
                    </div>
                </div>


                <h4>Nôi Dung</h4>
                <div style="border: 1px solid rgba(220, 220, 221, 0.918); padding: 20px;">
                    <p>
                        @Html.Raw(Html.Encode(Model.DescriptionDichVu).Replace("\n", "<br />"))
                    </p>
                </div>
                <hr>

                <div class="inf-more" style="margin-top: 10px; ">
                    <h6>Thông tin dịch vụ</h6>
                    <div style="padding-left: 10px; line-height: 0.8rem;">
                        <p>Giá: @Model.PriceDichVu.ToString("#,##00.##")đ </p>
                    </div>
                    <br>
                    <h6>Thông tin liên lạc</h6>
                    <div style="padding-left: 10px; line-height: 0.8rem;">
                        <p>Liên hệ: @Model.Contract </p>
                    </div>
                </div>
            </div>

        </div>




    </div>



    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdTinTucs }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@*
    Bất động sản
*@

@if (Model.LuaChon.Equals("3"))
{
    <div class="small-container1 single-product">

        <div class="row_Detail">
            <div class="TheLoai">Thể loại > Bất động sản > @Model.TenLoaiBatDongSan</div>

            <div class="Khung-img" style="width: 65%;background-color:  #f5ebeb; margin: 0px auto;">

                <div class="img">
                    <img src="@ViewBag.HinhAnh[0]" width="100%" height="500px" id="ProductImg">

                </div>
                <div class="small-img-row">
                    @for (int i = 0; i < @ViewBag.HinhAnh.Count; i++)
                    {
                        <div class="small-img-col">
                            <img src="@ViewBag.HinhAnh[i]" class="small-img">
                        </div>

                    }

                </div>


            </div>

            <div class="vid" style="width: 65%; margin: 5px auto;">
                <p style="margin-bottom: 0px; font-weight: 600;">Video</p>
                <video src="@Model.VideoBatDongSan" name="video" width="100%" type="video/mp4" controls> </video>
            </div>

            <hr style=" margin: 0px 10px; background-color: black;">

            <div class="col-2_">
                <p>Mã Tin: @Model.IdTinTucs</p>
                <p class="Update">Ngày đăng: @Model.PublishDayTinTucs</p>
                <h1>@Model.Title</h1>

                <!-- row infor-->
                <div class="row-inf">
                    <div class="col-addr">
                        <div class="infor" style="display:flex;">
                            <p style="padding-right: 30px"><i class="fas fa-user-circle"></i> @Model.CustomerName </p>
                            <a href="@Url.Action("Details","Users", new {id = @Model.CustomerID })">Xem trang</a>
                        </div>

                        <div class="infor"><p><i class="fas fa-phone-square-alt"></i> @Model.ContractPhoneNumber</p></div>
                    </div>

                    <div class="col-addr">
                        <div class="infor"> <p><i class="fas fa-envelope-square"></i> @Model.CustomerEmail </p> </div>
                        <div class="infor"><p> <i class="fas fa-map-marker-alt"></i> @Model.LocationBatDongSan</p></div>
                    </div>
                </div>


                <h4>Nôi Dung</h4>
                <div style="border: 1px solid rgba(220, 220, 221, 0.918); padding: 20px;">
                    <p>
                        @Html.Raw(Html.Encode(Model.DescriptionBatDongSan).Replace("\n", "<br />"))
                    </p>
                </div>
                <hr>

                <div class="inf-more" style="margin-top: 10px; ">
                    <h6>Thông tin bất động sản</h6>
                    <div style="padding-left: 10px; line-height: 0.8rem;">
                        <p>Diện tích: @Model.Area m²</p>
                        <p>Giá: @Model.PriceBatDongSan.ToString("#,##00.##")đ</p>
                    </div>

                </div>

                <div class="inf-more" style="margin-top: 10px; ">
                    <h6>Thông tin liên lạc</h6>
                    <div style="padding-left: 10px; line-height: 0.8rem;">
                        <p>Liên hệ: @Model.Contract</p>

                    </div>

                </div>
            </div>

        </div>

    </div>


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdTinTucs }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@*
    Việc làm
*@

@if (Model.LuaChon.Equals("4"))
{
    <div class="small-container1 single-product">
        <div class="row_Detail">
            <div class="row_Detail">
                <div class="TheLoai">Thể loại > Việc Làm > @Model.TenLoaiViecLam</div>

                <div class="Khung-img" style="width: 55%;background-color:  #f5ebeb; margin: 5px auto;">

                    <div class="img">
                        <img src="@ViewBag.HinhAnh[0]" width="100%" height="500px" id="ProductImg">

                    </div>
                    <div class="small-img-row">
                        @for (int i = 0; i < @ViewBag.HinhAnh.Count; i++)
                        {
                            <div class="small-img-col">
                                <img src="@ViewBag.HinhAnh[i]" class="small-img">
                            </div>

                        }

                    </div>
                </div>


                <hr style=" margin: 0px 10px; background-color: black;">

                <div class="col-2_">
                    <p>Mã Tin: @Model.IdTinTucs</p>
                    <p class="Update">Ngày đăng: @Model.PublishDayTinTucs</p>
                    
                    <h1>@Model.Title</h1>

                    <div class="row-inf">
                        <div class="col-addr">
                            <div class="infor" style="display:flex;">
                                <p style="padding-right: 30px"><i class="fas fa-user-circle"></i> @Model.CustomerName </p>
                                <a href="@Url.Action("Details","Users", new {id = @Model.CustomerID })">Xem trang</a>
                            </div>

                            <div class="infor"><p><i class="fas fa-phone-square-alt"></i> @Model.ContractPhoneNumber</p></div>
                        </div>

                        <div class="col-addr">
                            <div class="infor"> <p><i class="fas fa-envelope-square"></i> @Model.CustomerEmail </p> </div>
                            <div class="infor"><p> <i class="fas fa-map-marker-alt"></i> @Model.LocationViecLam.</p></div>
                        </div>
                    </div>

                    <h6>Yêu cầu</h6>
                    <div style="border: 1px solid rgba(220, 220, 221, 0.918); padding: 20px;">
                        <p>
                            @Html.Raw(Html.Encode(Model.Require).Replace("\n", "<br />"))
                        </p>
                    </div>

                    <h6>Nội dung công việc</h6>
                    <div style="border: 1px solid rgba(220, 220, 221, 0.918); padding: 20px;">
                        <p>
                            @Html.Raw(Html.Encode(Model.DescriptioViecLamn).Replace("\n", "<br />"))
                        </p>
                    </div>

                    <h6 style="margin-top: 5px;">Quyền lợi</h6>
                    <div style="border: 1px solid rgba(220, 220, 221, 0.918); padding: 20px;">
                        <p>
                            @Html.Raw(Html.Encode(Model.Benefit).Replace("\n", "<br />"))
                        </p>
                    </div>

                    <hr>

                    <div class="inf-more" style="margin-top: 10px; ">
                        <h6>Thông tin việc làm</h6>
                        <div style="padding-left: 10px; line-height: 0.8rem;">
                            <p>Lương: @Model.Salary.ToString("#,##00.##")đ</p>
                        </div>

                    </div>

                    <div class="inf-more" style="margin-top: 10px; ">
                        <h6>Thông tin liên lạc</h6>
                        <div style="padding-left: 10px; line-height: 0.8rem;">
                            <p>Liên hệ: @Model.Contract</p>
                        </div>



                    </div>
                    
                    @if (!Model.CustomerID.Equals(User.Identity.GetUserId()))
                    {
                        if (@ViewBag.kiemtra_hasSentCV == 1)
                        {
                            <a href="@Url.Action("XoaPST","PhieuXetUngTuyens",new { Id = @ViewBag.phieuXetUngTuyen.Id })">
                                <button class="btn btn-default" style="margin-top:5px;margin-left:95.5%">Đã gửi CV</button>
                            </a>
                            
                        }
                        else
                        {
                            using (Html.BeginForm("Create", "PhieuXetUngTuyens", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="file" value="" name="cv" id="cv" required title="Chọn đường dẫn CV"/>
                                <input type="text" class="form-control" id="ViecLamId" name="ViecLamId" style="display:none;" value="@Model.IdViecLam">
                                <button class="btn btn-default" style="margin-top:5px;margin-left:95.5%">Gửi CV</button>
                            }
                        }

                    }
                    else
                    {
                        <a href="@Url.Action("Index","PhieuXetUngTuyens",new { TinTucId = @Model.IdTinTucs })"> Nhận danh sách CV </a>
                    }
                </div>

            </div>



        </div>




    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdTinTucs }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@using (Html.BeginForm("Create", "BinhLuans", new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    if (Request.IsAuthenticated)
    {
        <div style="padding:10px">
            <h4>Bình luận</h4>
            <hr />

            <ul>

                @foreach (var item in @ViewBag.dsBLcuaTT)
                {

                    <br />

                    <b>@item.CustomerEmail</b>
                    @item.PublishDay
                    if (@ViewBag.currentUser.Id.Equals(item.CustomerID))
                    {

                        <a href="@Url.Action("XoaBL", "BinhLuans", new { id = item.Id })">Xóa</a>
                    };
                    <br />

                    @item.Description

                }

            </ul>
            <hr />
            <div class="CMT">
                <form class="form-inline" action="">
                    <label for="cmt" style="margin-right: 5px;">@ViewBag.currentUser.Email</label>
                    <input type="text" class="form-control" id="TinTucId" name="TinTucId" style="margin-right: 5px;" value="@Model.IdTinTucs">
                    <input class="form-control text-box single-line" placeholder="Bình luận ..." id="Description" name="Description" type="text" value="">

                    <button class="btn btn-default" style="margin-top:5px;margin-left:95.5%">Gửi</button>
                </form>
            </div>


        </div>
    }
    else
    {
        <div>
            <h4>Bình luận</h4>
            <hr />
            <ul>

                @foreach (var item in @ViewBag.dsBLcuaTT)
                {

                    <br />

                    <b>@item.CustomerEmail      </b>
                    @item.PublishDay

                    <br />
                    @item.Description


                }

            </ul>

            Bạn phải đăng nhập mới có thế bình luận.

        </div>
    }

}







<script type='text/javascript'>
    window.onload = function () {
        document.getElementById("TinTucId").style.display = 'none';
    }

    var ProductImg = document.getElementById("ProductImg");
    var SmallIng = document.getElementsByClassName("small-img");

    SmallIng[0].onclick = function () {
        ProductImg.src = SmallIng[0].src;
    }
    SmallIng[1].onclick = function () {
        ProductImg.src = SmallIng[1].src;
    }
    SmallIng[2].onclick = function () {
        ProductImg.src = SmallIng[2].src;
    }
    SmallIng[3].onclick = function () {
        ProductImg.src = SmallIng[3].src;
    }
</script>




