
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebRaoTin.Models.TinTuc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index111</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*
    @model IEnumerable<WebRaoTin.Models.TinTuc>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>


*@



@using (Html.BeginForm("Index", "TinTucs", FormMethod.Get))
{
    <p>
        Find by name: <input type="text" name="searchString" value="@ViewBag.Keyword" />
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th style="width:10%; text-align:left"> @Html.Label("ID")</th>
        <th style="width:10%; text-align:left">@Html.Label("Mã người dùng")</th>
        <th style="width:15%; text-align:left">@Html.Label("Tiêu đề")</th>
        <th style="width:15%; text-align:left">@Html.Label("Ngày đăng")</th>
        <th style="width:5%; text-align:left">@Html.Label("Ngày hết hạn")</th>
        <th style="width:15%; text-align:left">@Html.Label("Thông tin liên lạc")</th>
        <th style="width:15%; text-align:left">@Html.Label("Số điện thoại")</th>
        <th style="width:15%; text-align:left">@Html.Label("Tình trạng")</th>

    </tr>

    @for (int i = 0; i < Model.Count; i++)
    {
        if (@Model[i].Status.Equals("Ẩn"))
        {
            continue;
        }
        <tr style="border:1px solid red">
            <td>@Model[i].Id</td>
            <td>@Model[i].Customer.Id</td>
            <td>@Model[i].Title</td>
            <td>@Model[i].PublishDay</td>
            <td>@Model[i].EndDay</td>
            <td>@Model[i].Contract</td>
            <td>@Model[i].ContractPhoneNumber</td>
            <td>@Model[i].Status</td>
             <td>
                    @Html.ActionLink("Edit", "Edit", new { id = @Model[i].Id }) |
                    @Html.ActionLink("Details", "Details", new { id = @Model[i].Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = @Model[i].Id })
             </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new
{
page,
searchString = ViewBag.Keyword
}),
PagedListRenderOptions.PageNumbersOnly)
